<section class="form-container">
  <article class="form-content">
    <form [formGroup]="formGroup">
      <div class="cabecera"><h3>Astromeeting</h3></div>
      <div class="cuerpoForm"><h1>Actualiza tus datos</h1>
      <div class="form-control">
        <span class="p-input-icon-left">
          <input type="text" pInputText formControlName="firstName" [value]="formGroup.get('firstName')?.value" placeholder="Nombre" (blur)="firstNameTouched = true"/>
        </span>
        <div *ngIf="firstNameTouched && formGroup.get('firstName')?.errors">
          <small class="text-danger" *ngIf="formGroup.get('firstName')?.errors?.['required']">Introduce un nombre</small>
          <small class="text-danger" *ngIf="formGroup.get('firstName')?.errors?.['pattern']">El nombre debe contener solo letras y espacios</small>
          <small class="text-danger" *ngIf="formGroup.get('firstName')?.errors?.['minLength']">El nombre debe tener al menos 2 caracteres</small>
          <small class="text-danger" *ngIf="formGroup.get('firstName')?.errors?.['maxLength']">El nombre no debe exceder de 50 caracteres</small>
        </div>
      </div>
      <div class="form-control">
        <span class="p-input-icon-left">
          <input type="text" pInputText formControlName="lastName" [value]="formGroup.get('lastName')?.value" placeholder="Apellido" (blur)="lastNameTouched = true"/>
          <!--que los mensajes de error se muestren cuando el usuario termina de escribir en cada campo del formulario (es decir, cuando el campo pierde el foco), utilizar el evento blur de Angular-->
        </span>
        <div *ngIf="lastNameTouched && formGroup.get('lastName')?.errors">
          <small class="text-danger" *ngIf="formGroup.get('lastName')?.errors?.['required']">Introduce un apellido</small>
          <small class="text-danger" *ngIf="formGroup.get('lastName')?.errors?.['pattern']">El apellido debe contener solo letras y espacios</small>
          <small class="text-danger" *ngIf="formGroup.get('lastName')?.errors?.['minLength']">El apellido debe tener al menos 2 caracteres</small>
          <small class="text-danger" *ngIf="formGroup.get('lastName')?.errors?.['maxLength']">El apellido no debe exceder de 50 caracteres</small>
        </div>
      </div>
      <div class="form-control">
        <span class="p-input-icon-left">
          <i class="pi pi-calendar"></i>
      <input type="text" pInputText [value]="this.returnFechaNacimiento()" disabled/>
     </span>
     </div>
      <div class="form-control">
        <span class="p-input-icon-left">
          <!-- <i class="pi pi-calendar"></i> -->
          <input type="date" pInputText formControlName="fecha_nacimiento" placeholder="Fecha de nacimiento"(blur)="fechaNacimientoTouched = true"/>
        </span>
        <div *ngIf="fechaNacimientoTouched && formGroup.get('fecha_nacimiento')?.errors">
          <small class="text-danger" *ngIf="formGroup.get('fecha_nacimiento')?.errors?.['required']">Introduce una fecha de nacimiento</small>
          <small class="text-danger" *ngIf="formGroup.get('fecha_nacimiento')?.errors?.['underage']">Debes ser mayor de edad para registrarte</small>
        </div>
      </div>
      <div class="form-control">
        <span class="p-input-icon-left">
          <i class="pi pi-pencil"></i>
          <textarea pInputText formControlName="descripcion" [value]="formGroup.get('descripcion')?.value" placeholder="Descríbete" (blur)="descripcionTouched = true"></textarea>
        </span>
        <div *ngIf="descripcionTouched && formGroup.get('descripcion')?.errors">
          <small class="text-danger" *ngIf="formGroup.get('descripcion')?.errors?.['maxLength']">La descripción no debe exceder de 250 caracteres</small>
        </div>
        <div class="cambiaFoto"><p>Cambia tu foto:</p><img src="{{host}}/{{userData.img ? userData.img:'default.png'}}" alt="user"></div>
        <div class="form-control">
          <p-fileUpload
            (onSelect)="onUpload($event)"
            chooseLabel="Añade una foto"
            [multiple]="false"
            [fileLimit]="1"
            accept="image/*"
            [maxFileSize]="1000000"
            [showCancelButton]="false"
            [showUploadButton]="false"
            (onRemove)="removeFile()"
        >
          </p-fileUpload>
        </div>
        <div class="botones">
        <div class="form-control">
          <p-button type="submit" label="Actualizar" [disabled]="formGroup.invalid || loading" (onClick)="handleUpdate()" class="botonUpdate"></p-button>
        </div>
        <div class="form-control">
          <!-- Agregar la ventana de confirm de borrar todo -->
          <p-button type="button" label="Eliminar cuenta" (onClick)="handleDeleteAccount()" class="botonEliminar"></p-button>
        </div>
        <div class="form-control">
          <p-button type="button" label="Volver"(onClick)="comeBack()"></p-button>
        </div>
        </div>
<app-alert
  [open]="alertConfig.open"
  [singleMessage]="alertConfig.singleMessage"
  [severity]="alertConfig.severity"
  (eventCloseToast)="closeAlert()"
></app-alert>
<app-footer></app-footer>
