<app-header></app-header>
<div class="admin-container">
  <div class="adminPanel">
    <div class="contact bar">
      <img src="{{host}}/{{userData.img ? userData.img:'default.png'}}" alt="user">
      <div class="name">
        {{userData.firstName}} {{userData.lastName}}
      </div>
    </div>
    <div class="tablaUsuarios" >
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre Usuario</th>
            <th>Email</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users" class="patata">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}  {{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>
              <p-button type="button" label="Eliminar" (onClick)="handleDeleteUser(user.id)" class="eliminarUsuarios"></p-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="input">
      <input
        type="text"
        placeholder="Nombre de usuario"
        [(ngModel)]="searchterm"
        (keyup.enter)="getUsers()"
      />
      <!-- hemos agregado un binding de dos vías con ngModel para vincular el término de búsqueda con la variable searchterm. -->
      <p-button type="submit" label="Buscar" (onClick)="getUsers()"></p-button>
    </div>
  </div>
</div>
<app-alert
  [open]="alertConfig.open"
  [singleMessage]="alertConfig.singleMessage"
  [severity]="alertConfig.severity"
  (eventCloseToast)="closeAlert()"
></app-alert>
<app-footer></app-footer>
